body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(132, 56, 106);
}

header {
  height: 10vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgb(151, 26, 155);
  color: #f1f1f1;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 90vh;
  grid-template-columns: auto;
  grid-template-rows: 250px 250px 200px;
  background-color: rgb(222, 180, 219);
}

button {
  font-weight: 300;
  font-size: 70px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: #f1f1f1;
  background-color: rgb(122, 50, 103);
  padding: 10px 30px 10px 33px;
}

#number {
  font-size: 200px;
  font-weight: bold;
  margin: 0;
}

#message {
  font-size: 40px;
}
